*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
}
.card{
  background-color: yellow;
  width: 40%;
  height: 20%;
  padding: 60px ;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  border: 2px solid red;
  border-radius: 10px;
  
}

.btn{
  
  margin: 10px;
  padding: 5px;
  background-color: antiquewhite;
}